.ImagePreviewPanel {
  border: var(--border-default);
  padding: var(--padding-default);
}
.ImagePreviewPanel > .MainReview {
  padding: var(--padding-default);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 520px;
  width: 600px;
}
.MainReview > div {
  flex: auto;
}
.ReviewSlider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: var(--gap-default);
}

.ReviewSlider > div {
  justify-self: center;
  padding: 1px;
  border: var(--border-default);
}
