.navBar {
  background-color: rgb(19, 25, 33);
  padding: 4px;
  padding-left: 10px;
  display: flex;
  gap: 2px;
  color: #fff;
}
.navBar > p {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 10px;
}
.navBar > p:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
.SearchBar {
  flex: auto;
  justify-self: center;
}
.SearchBar > input {
  width: 100%;
  height: 100%;
}

.SearchBar > input:focus {
  padding: 2px;
  outline: 0px;
  border: 0px;
}
