.navBar {
  background-color: #c9acacb6;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 6fr 4fr;
  gap: 10px;
}
.navBar > div {
  border: 2px solid #000;
  display: flex;
  justify-content: space-around;
}
.HomePage {
}
.SearchBar {
}
.UserBar {
}
