.NavBarShopping {
  background-color: rgb(35, 47, 62);
  padding-left: 10px;
  display: flex;
  justify-content: start;
  color: #fff;
}
.NavBarShopping > p {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 5px;
}
.NavBarShopping > p:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
