#ResultDisplayBar {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-default);
  padding-left: max(calc(100% - 1800px), var(--padding-default));
  padding-right: max(calc(100% - 1800px), var(--padding-default));
  border-bottom: solid 1px #000;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 5px 5px 0px;
}
#ResultDisplayBar > p > span {
  color: #df8c8c;
}
